*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
}
h2{
    color:aqua;
    margin-left: 45%;
}
.clock1{
    margin-top: 10px;
    margin-left:30px;
    color: white;
    display: flex;

}

#clock{
    height:35px;
    width: 30px;
    border-radius: 20px;
}
.connection{
    margin-top: 10px;
    margin-left:30px;
    color: white;
    display: flex;
}
#network{
    height:35px;
    width: 30px;
    border-radius: 20px;
}
p{
    margin-top: 2px;
    font-size: 23px;
    margin-left: 0.7px;
}
img{
    margin-left: 25%;
    height: 430px;
    width: 700px;
}

.iorn-man {
    margin: 0 20%;
}

.image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
button , h2{
    margin: 0 40%;
}
button{
    margin-top: 50px;
    height: 30px;
    color:black;
    background-color: aliceblue;
    width: 180px;
    border-radius: 15px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.show-instructions {
    display: none;
    background: #fff;
    padding: 20px;
    max-width: 520px;
    height: 25%;
    margin: 16% auto;
    position: relative;
    color: #fff;
    background-color: black;
    border: 2px solid greenyellow;
    border-radius: 10px;
}


/* @media screen and (max-width: 1300px) and (min-width: 300px){
    .container {
        min-height: 100vh;
        position: relative;
        width: 100%;
        background: #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 40%;
    }
} */

@media screen and (max-width: 950px) and (min-width: 550px){
    h1 {
        font-size: 23px;
    }
    .clock1,.connection {
        display: none;
    }
}

@media screen and (max-width: 550px) and (min-width: 300px){
    h1 {
       display: none;
    }
    .clock1,.connection {
        display: none;
    }
    .main {
        margin: 50% 0;
    }
}
